id="n6cgx6"
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env

# Streamlit
.streamlit/

# Uploaded Files
uploads/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

#PYTHON_FILE
chatbot_bkp.py
main.py
